<div class="container py-5">
  <h2 class="mb-4 text-center">Product List</h2>

  <div class="row g-4">
    <!-- Product 1 -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <!-- property binding -->
        <img [src]="myProduct.image" alt="" />
        <!-- interpolation -->
        <!-- <img src={{myProduct.image}} alt="" />  -->
        <div class="card-body text-center">
          <h5 class="card-title">{{myProduct.title}}</h5>
          <p class="card-text text-muted">{{myProduct.price}}$</p>
          <p class="fw-bold text-success"></p>
          <button class="btn btn-info">Add To Favorite</button>
          <!-- <button class="btn btn-success" [disabled]="myProduct.Notavaliable">Add To Cart</button> -->
          <!-- <button class="btn btn-success" disabled={{myProduct.Notavaliable}}>Add To Cart</button> -->
        </div>
      </div>
    </div>

    <!-- Product 2 -->
  </div>
</div>
