<app-navbar></app-navbar>
<div class="container">
    <h1>hello from App component</h1>
    <button class="btn btn-success">click me!</button>
    <div class="card" style="width: 18rem;">
        <img src="https://d2ati23fc66y9j.cloudfront.net/category-pages/sub_category-174021874143.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bueaty Products</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
    <app-products></app-products>
</div>
